@charset "UTF-8";



div.title {
	text-align: center;
	margin-top: 1.5%;
}

#mypage {
	text-align: center;
	margin-top: 3%;
}

#mypage > a {
	font-family: 'Noto Sans KR', sans-serif;
	/* font-style: regular; */
	font-weight: 500;
	color: #464646;
	margin: 0 2%;
	font-size: 12pt;
}


div.jumbotron {
	width: 80%;
	margin: 0 auto;
}


