@charset "UTF-8";

div.container > div.titleArea{
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18pt;
	margin: 5%;
}

div.container > div.titleArea > h3{
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin-top: 3%;
    font-family: 'Noto Sans KR', sans-serif;
	font-size: 16pt;
	/* font-style: regular; */
	font-weight: 500;
}


div.recent_view > div:nth-child(1) > div.thumnail,
div.recent_view > div:nth-child(1) > div.name,
div.recent_view > div:nth-child(1) > div.price,
div.recent_view > div:nth-child(1) > div.number{
	cursor: pointer;
}



