@charset "UTF-8";

div{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14pt;
	/* font-style: regular; */
	font-weight: 400;
}



div.title {
	text-align: center;
	margin-top: 1.5%;
}

#Adminpage {
	text-align: center;
	margin-top: 3%;
}

#Adminpage > a {
	color: #464646;
	margin: 0 4%;
}

td{
	font-size: 15px;
	font-weight: 300;
}

select{
	font-size: 15px;
	font-weight: 300;
}

option{
	font-size: 15px;
	font-weight: 300;
}
button{
	font-size: 15px;
	font-weight: 300;
}

span{
	font-size: 15px;
	font-weight: 300;
}


select#searchType{
	height: 34.5px;
	margin-bottom: 3px;
}
d
button{
	
	font-size: 15px;
	font-weight: 300;
	
}

li{
	font-size: 15px;
	font-weight: 300;
}
