@charset "UTF-8";

div#container {
	border: solid 0px red;
	width: 70%;
	margin: 2% auto 0 auto;
	font-size: 12pt;
  	font-family: 'Noto Sans KR', sans-serif;
}


/* 주문내역 메뉴바 시작 */
div#order_filter {
	border: solid 0px blue;
	display: flex;
	/*width: 70%;*/
	/*margin: 0 auto;*/
}

div.order_title {
	width: 18%;
}



div#order_filter div {
	display: inline-block;
  	color: black;
  	text-align: center;
  	padding: 15px;
  	text-decoration: none;
  	font-size: 12pt;
  	font-family: 'Noto Sans KR', sans-serif;
}

div.order_title {
	border-top: solid 0.5px #c0c0c0;
	
}
div.order_title:nth-child(1), div.order_title:nth-child(2), div.order_title:nth-child(3) {
	border-left: solid 0.5px #c0c0c0;
}

div#order_title_nbsp {
	border: solid 0.5px #c0c0c0;
	width: 64%;
	background-color: #eee;
}


div#order_filter div.order_title:hover {
  	cursor: pointer;
}

div#order_filter div.active {
  	background-color: black;
  	color: white;
	font-weight: bold;
}
/* 주문내역 메뉴바 끝 */


/* 기간설정구역 시작 */
div#order_time {
	border: solid 1px black;
	/*width: 70%;*/
	/*margin: 0 auto;*/
	display: flex;
}

div#filter_desc {
	margin-top: 1%;
}

div#filter_desc > ul {
	padding: 0 0 0 1%;
	border: solid 0px red;
}

div#filter_desc li {
	padding: 0;
	color: #999999;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
}
::marker {
	font-size: 5px;
}
/* 기간설정구역 끝 */


span#bodyTitle {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 500;
}


/* 페이징 숫자 처리 시작 */
div.pagination {
	border:solid 0px red;
	display: inline-block;
	margin: 0 auto;
}

div.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border-radius: 5px;
}

div.pagination a.active {
  /*background-color: #4CAF50;*/
  background-color: black;
  color: white;
  border-radius: 5px;
}

div.pagination a:hover:not(.active) {background-color: #ddd;}
/* 페이징 숫자 처리 시작 */



/* 주문관리 리스트 테이블 시작 */
table#orderList tr.order_row {
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
}
/* 주문관리 리스트 테이블 끝 */



/* 주문관리 리스트 모달 시작 */
div#orderInfo {
	width: 80%;
	margin: 0 auto;
}
button.modalFooter {
	width: 70px;
	height: 40px;
}
/* 주문관리 리스트 모달 끝 */