@charset "UTF-8";

div#container {
	width: 80%;
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
/* 	border: solid 1px red; */
}

div#title {
/* 	border: solid 1px blue; */
	margin: 0 auto;
	text-align: center;
}

div#title span {
	font-size: 20pt;
}


div#table {
	margin: 2% auto 0 auto;
	width: 60%;
	border-collapse: collapse; /* 경계선 없애기  */
}

tr {
	transition: background-color .3s;
	border: solid 1px #DADADA;
}

tr#lastTr {
	border: none;
}


td.tdTitle {
	width: 20%;
	font-weight: bold;
}

td.tdContents {
	width: 50%;
}

/* 재고 설정 칸 */
#prodRegister > tbody > tr:nth-child(4) > td.tdContents > span.ui-spinner.ui-corner-all.ui-widget.ui-widget-content {
	width: 223px;
	
}

input#spinnerPqty {
	width: 182px;
	font-family: 'Noto Sans KR', sans-serif;
}
/* 재고 설정 칸 끝 */



/* 등록 버튼  */
input#btnRegister {
	border: none;
	background-color: black;
	color: white;
	font-size: 12pt;
	font-weight: bold;	
	width: 7%;
	height: 45px;
    justify-content: center;
    align-items: center;
}

/* 취소 버튼  */
input#btnReset {
	margin-left: 1%;
	border: solid 1px black;
	background-color: white;
	color: black;
	font-size: 12pt;
	font-weight: bold;	
	width: 7%;
	height: 45px;
    justify-content: center;
    align-items: center;
}



span.error {
	color: red;
}
