@charset "UTF-8";

div#container {
	width: 70%;
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
/* 	border: solid 1px red; */
}


/* table 전체  */
div#table {
	margin-top: 2%;
}

table {
	/* border: solid 1px #DADADA; */
	border-collapse: collapse; /* 경계선 없애기  */
}
/* table 전체 끝 */


/* table 행 */
th, td {
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 12pt;
	font-weight: 400;
}


/* table thead */
tr.prdInfoTitle { 
	background-color: black;
	color: white;
}


tr.prdInfoTitle:hover {
	cursor: context-menu;
}
/* table thead 끝  */


/* table tbody */
tr.prdInfo {
	transition: background-color .3s;
	border-bottom: solid 1px #DADADA;
}

tr.prdInfo:hover {
	background-color: #ddd;
	cursor: pointer;
}
/* table tbody 끝 */



/* 상품등록 전체 div */
div#prdmanageBtn {
	margin-top: 1%;
	justify-content: right;
}


/* 상품등록 div */
div#prdRegister {
	background-color: black;
	color: white;
	font-size: 12pt;
	font-weight: bold;	
	width: 7%;
	height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



/* 페이지 바 */
div#pageBar {
	text-align: center;
}

div.pagination {
 	display: inline-block;
}


div.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border-radius: 5px;
	font-size: 12pt;
}

div.pagination a.active {
	background-color: black;
	color: white;
	border-radius: 5px;
}

div.pagination a:hover:not(.active) {
	background-color: #ddd;
}

/* 페이지 바 끝 */



/* 상품 검색창 시작 */
div#fruitSearch {
/* 	border: solid 2px red; */
	display: flex;
	margin-top: 2%;
	align-items: center;
}

div#fruitSearch input {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 12pt;
	border: 1px solid #ccc;
	padding-left: 14px;
    border-radius: 20px; 
    outline: none; 
}


div#fruitSearch input::placeholder {
	color: #979797;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 12pt;
}

/* 상품 검색창 끝 */




/* 상품 관리 페이지 a태그 */
a {
  color: black;
}
a:hover {
  color: black;
  text-decoration-line: none;
}

a#totalList {
	margin-left: 1%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 12pt;
}



/* 검색 돋보기 아이콘 */
i.searchIcon {
	cursor: pointer;
	font-size: 14pt;
    color: #333;
    margin-left: 10px;
}

i.searchIcon:hover {
  color: red;
}
/* 검색 돋보기 아이콘 끝 */